/*总体设定*/
*{
    padding: 0;
    margin: 0;
}
/*去掉链接下划线*/
a {
    text-decoration: none;
}
/*去掉列表样式*/
ul {
    list-style: none;
}
/*网页body设定*/
body {
    font: 14px/1.5 微软雅黑, arial, sans-serif; /*字体尺寸/行高，字体（多种）*/
    width: 100%;
    overflow: scroll;/*内容溢出时，内容会被修剪，但是浏览器会显示滚动条以便查看其余的内容*/
}
/*设置header*/
#header {
    position: fixed;/*生成绝对定位的元素，相对于浏览器窗口进行定位*/
    top: 0;
    left: 0;
    width: 100%;
    height: 66px;
    color: #fff;
    z-index: 9999;
    /*transition: all .3s;*/
}
/*设置页眉*/
#header nav {
    position: relative;
    width: 80%;
    margin: 0 auto;
}
/*设置列表*/
#header nav li {
    border: 0;
    display: inline-block;/*不独占一行的块级元素*/
    height: 66px;
    line-height: 66px;
    font-size: 16px;
    position: relative;
    cursor: pointer;
}
/*设置列表下的超链接*/
#header nav li a {
    display: inline-block;
    padding: 0 12px;
    white-space: nowrap;/*文本不会换行，文本会在在同一行上继续，直到遇到 <br> 标签为止*/
    color: #fff;
}
#header nav .loginon {
    position: absolute;
    top: 12px;
    right: 0;
}
#header nav span {
    font-size: 15px;
    margin: 8px 0px;
    color:#ffffff; /*span下的字体颜色*/
    display: inline-block;
}
#header nav .loginon a{
    color:#ffffff;/*超链接的字体颜色*/
}

/*设置背景图片格式*/
#bg {
    position: relative;
    background: no-repeat gray;
    background-size: cover;/*把背景图像扩展至足够大，以使背景图像完全覆盖背景区域。背景图像的某些部分也许无法显示在背景定位区域中。*/
}
#bg p {
    position: relative;
    padding: 180px 0px;
    padding-bottom: 120px;
    text-align: center;
    font-size: 26px;
    letter-spacing: 2.5px; /*字体间的空白长度*/
    line-height: 2;
    color: hsla(0,0%,100%,.9);
    text-shadow: 0 3px 25px rgba(0,0,0,.3);/*文字阴影*/
    /*cursor: progress;*//*鼠标形状*/
    z-index: 2;
}
/*设置第二行文字属性*/
#bg-p {
    padding-bottom: 150px;
}
/*设置第二行文字属性*/
#bg-p i{
    font-size: 20px;
    color: hsla(0,0%,100%,.8);
    text-shadow: 0 0 0 transparent;
    font-style: normal;/*字体是默认值*/
}
/*伪元素给背景图片设置蒙版*/
#bg:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.4); /*黑色蒙版，透明度为.4*/
    z-index: 1;/*数值越大，层级就越高，即在上面显示*/
}
#container {
    position: relative;
    max-width: 95%;
    margin: 0 auto;/*上下边界为0，左右则根据宽度自适应相同值（即居中）*/
}
#container a {
    color: #333;
}
.article {
    box-shadow: 5px 5px 25px #dadada;/*向框添加一个或多个阴影*/
    position: relative;
    padding: 0 20px;
    margin: 40px auto;
    max-width: 75%;
    background: #fff;
    text-align: center;
}
/*时间框设置*/
.article>time {
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: 1px solid #ccc;
    font-size: 14px;
    padding: 4px 5px 0;
    color: #999;
}
.article>h2 {
    padding: 35px 0 45px;
    font-size: 22px;
    font-weight: 700;
    cursor: pointer;
    line-height: 1.225;
}
.article>span {
    position: absolute;
    top: 0;
    right: 0;
    color: #999;
    padding: 3px 20px;
    background: #f1f1f1;
    font-size: 14px;
}
.article section {
    text-align: left;
    padding: 10px;
    font-size: 16px;
}
.article blockquote {
    padding: 0 15px;
    color: #777;
    border-left: 4px solid #ddd;
}
.article footer {
    padding: 25px 0 20px;
}
.article footer a {
    display: inline-block;
    color: #18bc9c;
    cursor: pointer;
    padding: 4px 20px;
    border-radius: 5px;
    transition: all .5s;
    border: 1px solid #18bc9c;
}
.pageforbar {
    text-align: center;
}

#footer {
    position: relative;
    height: 160px;
    color: hsla(0,0%,100%,.69);
    font-size: 12px;
    text-align: center;
    border-top: 1px solid #000000;
}
#copyright {
    position: absolute;
    top: 0;
    left: 0;
    background: #0e0e0e;
    width: 100%;
    height: 100%;
    z-index: 2;
}

#copyright p {
    position: absolute; /*实现居中*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 2;
}